body {
  margin: 0px!important;
}
.map-container {
  height: 100vh;
}

.search-container {
  position: absolute;
  z-index: 10;
  left: 10px;
  top: 10px;
}

.inside-element {
  overflow: auto;
  max-height: 160px;
}

.auto-complete-list {
  position: relative;
  width: 300px !important;
  margin: 1px 10px 0px;
  top: -1px;
  background: white;
  list-style: none;
  padding-top: 10px;  
  padding-bottom: 10px;
  width: 126%;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.auto-complete-list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px 10px; 
  padding-left: 30px;
  cursor: pointer;
}
.auto-complete-list-item:hover {
  background-color: rgba(0, 0, 0, .06);
  outline: none;
}

.search-comp {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-radius: 8px;
  border:1px rgb(187, 189, 190) solid;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
}

.input-search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
  padding: 4px;
  width: 100%;
  border:none;
  margin: 5px 10px;
  text-transform: capitalize;
  outline: none;
}

.marker {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #229b28;
  background-size: cover;
  max-width: 200px;
  text-align: center;
  margin-left: auto;
  border-radius: 6px;
  padding: 8px;
  color: rgb(255 255 255);
  cursor: pointer;
}

.icon-search{
  color: #8b8b8b;
}

.chart-container {
  width: 95%;
  height: 300px;
  margin: 16px;
}

@media(max-width: 767px) {
  .search-container {
    width: 100%;
  }

  .search-comp, .auto-complete-list {
    width: calc(100% - 20px) !important;
  }

  .search-container {
    left: 0px;
  }
}